BODY {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: lucida, verdana; BACKGROUND-COLOR: #EDE8E1; MARGIN: 0px;
}
A:link {
	COLOR: #264678
}
A:active {
	COLOR: #86A6D8
}
A:visited {
	COLOR: #6686B8
}
A:hover {
	COLOR: #D6B781
}
TD.menu A:link {
	COLOR: #D6B781
}
TD.menu A:active {
	COLOR: #FFFFFF
}
TD.menu A:visited {
	COLOR: #A68751
}
TD.menu A:hover {
	COLOR: #EDE8E1
}
.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 2em; COLOR: #ffffff; LETTER-SPACING: 0.25em; BACKGROUND-COLOR: #980000; TEXT-ALIGN: center
}
.sectionTitle {
	BORDER-RIGHT: #980000 0px solid; BORDER-TOP: #980000 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #980000 0px solid; COLOR: #000000; BORDER-BOTTOM: #980000 0px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #f4e5e5
}
.noteTable {
	COLOR: #ffffff; BACKGROUND-COLOR: #980000
}
.noteText {
	BORDER-RIGHT: #980000 1px solid; BORDER-TOP: #980000 1px solid; BORDER-LEFT: #980000 1px solid; COLOR: #000000; BORDER-BOTTOM: #980000 1px solid; BACKGROUND-COLOR: #f4e5e5
}
H2 {
	FONT-WEIGHT: normal; COLOR: #EDE8E1; BACKGROUND-COLOR: #A68751; BACKGROUND-IMAGE: url(images/band.jpg); BORDER: black 1px solid; PADDING: 2px 8px;
}
TD.logo {
	BACKGROUND-COLOR: #A68751;
; text-align: center; vertical-align: middle
}
TD.header {
	BACKGROUND-COLOR: #A68751; BACKGROUND-IMAGE: url(images/header.jpg);
; background-repeat: repeat; background-position: left center
; border-style: none
}
TD.menu {
	BACKGROUND-COLOR: #264678; BACKGROUND-IMAGE: url(images/menu.gif); PADDING: 16px 16px;
}
TD.body {
	BACKGROUND-COLOR: #EDE8E1; BACKGROUND-IMAGE: url(images/body.gif); PADDING: 16px 16px;
}
pre {  font-size: smaller; color: #666666}
.code {  font-family: "Courier New", Courier, mono}
